img{
  width: 16px;
  height: 16px;
}
select{
  width: 150px;
}


::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #404040;
}

::-webkit-scrollbar-corner {
  background: #404040;
}

::-webkit-scrollbar-thumb {
  background: #5c5c5c;
}

body{
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  background-color: #000;
    color: #bdbdbd;
}
.App{
  width: 60%;
  margin: auto;
  margin-top: 5vh;
}
.headContent{
  display: flex;
  justify-content: space-between;
}
.tab{
  cursor: pointer;
  height: 5vh;
  width: 24%;
  background: #000;
  border: #363636 solid 1px;
  border-top: #363636 solid 2px;
  border-bottom: 0;
  box-sizing: border-box;
}
.activeTab{
  cursor: pointer;
  height: 5vh;
  width: 24%;
  background: #222222;
  border: #363636 solid 1px;
  border-top: #2493f2 solid 2px;
  border-bottom: 0;
  box-sizing: border-box;
}
.tab h3{
  text-align: center;
  margin: 0;
  margin-top: 10px;
}
.activeTab h3{
  text-align: center;
  color: #2493f2;
  margin: 0;
  margin-top: 10px;
}
table{
  box-sizing: border-box;
  width: 100%;
  background: #222222;
  border: #363636 solid 1px;
  border-top: 0;
}
td{
  
    border-bottom: #363636 solid 1px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;

}
.ExchangeRates th{
  padding-left: 25px;
}
th {

  height: 55px;
  padding-top: 25px;
  text-align: left;
}
.Exchanges td, th{
  padding-left: 125px;
}

.Exchanges td:first-child{
  padding-left: 5px;
  text-align: center;
}
.Exchanges th:first-child{
  padding-left: 5px;
  text-align: center;
}
#Year{
  text-align: center;
  padding-left: 0;
}

#Volume{
  padding-left: 25px;
}
.CoinsList table th{
  text-align: left;
  padding: 0;
  padding-left: 25px;
}
.CoinsList table td:first-child{
  text-align: center;
  padding-left: 0;
}
.CoinsList table thead th:first-child{
  text-align: center;
  padding: 0;
}
.CoinsConverter{
  width: 100%;
  height: 40vh;
  background: #222222;
  border: #363636 solid 1px;
  border-top: 0;
  box-sizing: border-box;
}
select, input{
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
}
.selects,.inputs{
  display: flex;
  justify-content: space-evenly;
 
}
.selects{
  padding-top: 70px;
}
.rate{
  text-align: center;
}
a{
  color: #bdbdbd;
  text-decoration: none;
 }
 a:visited {
  color: #bdbdbd;
 }
 a:active {
  color: #bdbdbd;
 }
 .tdModalDescription span{
   margin-left:125px;
  cursor: pointer;
 }
 table thead tr .thModalDescription span{
  margin-left:125px;
 }
 .CoinsList img{
  cursor: pointer;
   width: 40px;
   height: 40px;
   border-radius: 3px;
 }
 .highcharts-background{
   fill: #222222;
 }
 .highcharts-title tspan{
   color: #bdbdbd;
   fill:#bdbdbd;
 }
 #highcharts-41yal5l-0 .highcharts-root .highcharts-axis-labels text{
  color: #bdbdbd;
  fill:#bdbdbd;
 }
.headContent div:last-child{
  margin-right: 1px;
}